 .u-section-1 {
  background-image: none;
  min-height: 1326px;
}

.u-section-1 .u-shape-1 {
  height: 537px;
  width: calc(((100% - 1140px) / 2)  + 1002px);
  margin: 121px 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 660px;
  height: 660px;
  background-image: url("images/pexels-rb-audiovisual-2130795.jpg");
  background-position: 50% 50%;
  margin: -474px calc(((100% - 1140px) / 2)  + 105px) 0 auto;
}

.u-section-1 .u-group-1 {
  min-height: 434px;
  width: 527px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -827px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-family: OmegleRegular-owopB;
  font-size: 4.25rem;
  margin: 13px 43px 0 18px;
}

.u-section-1 .u-group-2 {
  width: 598px;
  min-height: 450px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 343px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-1 .u-text-2 {
  margin: 13px 0 0;
}

.u-section-1 .u-text-3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 829px;
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
    margin-top: 122px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 663px;
    height: 663px;
    margin-right: calc(((100% - 940px) / 2)  + 83px);
  }

  .u-section-1 .u-group-1 {
    width: 393px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
  }

  .u-section-1 .u-group-2 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-3 {
    line-height: 30.6px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    height: 606px;
    width: calc(((100% - 720px) / 2)  + 488px);
    margin-top: 192px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 626px;
    height: 626px;
    margin-top: -503px;
    margin-right: calc(((100% - 720px) / 2)  + 26px);
  }

  .u-section-1 .u-group-1 {
    min-height: 276px;
    margin-top: -841px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 2.8125rem;
  }

  .u-section-1 .u-group-2 {
    width: 501px;
    margin-top: 359px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1206px;
  }

  .u-section-1 .u-shape-1 {
    height: 609px;
    width: calc(((100% - 540px) / 2)  + 424px);
    margin-top: 209px;
  }

  .u-section-1 .u-image-1 {
    width: 503px;
    height: 503px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 330px;
    margin-top: -801px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-container-layout-1 {
    padding: 23px 20px;
  }

  .u-section-1 .u-group-2 {
    width: 374px;
    min-height: 664px;
    margin-top: 405px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-top: 18px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1006px;
  }

  .u-section-1 .u-shape-1 {
    height: 276px;
    width: calc(((100% - 340px) / 2)  + 276px);
    margin-top: 51px;
  }

  .u-section-1 .u-image-1 {
    width: 332px;
    height: 332px;
    margin-top: -223px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 270px;
    margin-top: -58px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 0;
    margin-left: 1px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    min-height: 607px;
    margin-top: 51px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1059px;
}

.u-section-2 .u-shape-1 {
  width: 237px;
  height: 237px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0 0;
}

.u-section-2 .u-shape-2 {
  width: 228px;
  height: 228px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -523px 0 0 auto;
}

.u-section-2 .u-image-1 {
  height: 493px;
  width: 549px;
  object-position: 50% 0%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -275px 510px 0 auto;
}

.u-section-2 .u-group-1 {
  width: 525px;
  min-height: 573px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -352px 95px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 40px 120px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-image-2 {
  height: 310px;
  width: 310px;
  background-image: url("images/pexels-everton-nobrega-999186-4142539.jpg");
  background-position: 50% 0%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -105px auto -273px 343px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1094px;
  }

  .u-section-2 .u-shape-1 {
    width: 217px;
    height: 217px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -546px;
  }

  .u-section-2 .u-image-1 {
    height: 455px;
    width: 507px;
    margin-top: -252px;
    margin-right: auto;
    margin-left: 42px;
  }

  .u-section-2 .u-group-1 {
    width: 448px;
    min-height: 607px;
    margin-right: 71px;
  }

  .u-section-2 .u-image-2 {
    margin-bottom: -293px;
    margin-left: 266px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1327px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -222px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -549px;
    margin-right: 144px;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: -52px;
    margin-right: 75px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -113px;
    margin-bottom: -266px;
    margin-left: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1219px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -254px;
  }

  .u-section-2 .u-image-1 {
    height: 403px;
    width: 438px;
    margin-top: -517px;
    margin-right: 41px;
  }

  .u-section-2 .u-group-1 {
    min-height: 557px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
  }

  .u-section-2 .u-image-2 {
    height: 270px;
    width: 270px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1399px;
  }

  .u-section-2 .u-shape-1 {
    width: 179px;
    height: 179px;
    margin-top: 309px;
  }

  .u-section-2 .u-shape-2 {
    width: 148px;
    height: 148px;
    margin-top: -344px;
    margin-right: -98px;
  }

  .u-section-2 .u-image-1 {
    height: 268px;
    width: 291px;
    margin-top: -269px;
    margin-right: auto;
    margin-left: 15px;
  }

  .u-section-2 .u-group-1 {
    min-height: 776px;
    width: 361px;
    margin-top: -68px;
    margin-left: -11px;
    margin-right: -11px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 263px;
    width: 263px;
    margin: -72px auto 60px 27px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 805px;
}

.u-section-3 .u-shape-1 {
  width: 739px;
  height: 695px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 55px 76px 0 auto;
}

.u-section-3 .u-image-1 {
  height: 489px;
  width: 489px;
  background-image: url("images/pexels-olly-762041.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -626px auto 0 420px;
}

.u-section-3 .u-group-1 {
  width: 385px;
  min-height: 478px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -383px auto 71px 94px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 4.0625rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-3 .u-shape-1 {
    width: 645px;
    height: 607px;
    margin-top: 52px;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 457px;
    width: 457px;
    margin-top: -538px;
    margin-right: 63px;
    margin-left: auto;
  }

  .u-section-3 .u-group-1 {
    min-height: 505px;
    margin-top: -351px;
    margin-bottom: 52px;
    margin-left: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 929px;
  }

  .u-section-3 .u-shape-1 {
    width: 557px;
    height: 525px;
    margin-top: 55px;
  }

  .u-section-3 .u-image-1 {
    height: 416px;
    width: 416px;
    margin-top: -470px;
    margin-right: 78px;
  }

  .u-section-3 .u-group-1 {
    width: 360px;
    margin-top: -170px;
    margin-bottom: 55px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 964px;
  }

  .u-section-3 .u-shape-1 {
    height: 481px;
    width: 513px;
  }

  .u-section-3 .u-image-1 {
    height: 404px;
    width: 404px;
    margin-top: -441px;
    margin-right: 54px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -95px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1014px;
  }

  .u-section-3 .u-shape-1 {
    height: 329px;
    width: 329px;
  }

  .u-section-3 .u-image-1 {
    height: 266px;
    width: 266px;
    margin-top: -304px;
    margin-right: auto;
    margin-left: 31px;
  }

  .u-section-3 .u-group-1 {
    min-height: 627px;
    width: 352px;
    margin-top: -14px;
    margin-left: -12px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1230px;
}

.u-section-4 .u-shape-1 {
  width: calc(((100% - 1140px) / 2)  + 442px);
  left: 0;
  right: auto;
  --animation-custom_in-translate_x: 700px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  top: 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-4 .u-image-1 {
  background-image: url("images/pexels-guilhermealmeida-1858175.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-form-1 {
  height: 334px;
  margin: 32px -60px 0 0;
}

.u-section-4 .u-form-group-1 {
  margin-left: undefined;
  margin-right: auto;
}

.u-section-4 .u-form-group-2 {
  margin-left: undefined;
  margin-right: auto;
}

.u-section-4 .u-form-group-3 {
  margin-left: undefined;
  margin-right: auto;
}

.u-section-4 .u-form-group-4 {
  margin-left: undefined;
  margin-right: auto;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  width: 100%;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.125rem;
  letter-spacing: 2px;
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-2 {
  margin: 30px auto 0 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 188px;
  min-width: 124px;
  margin: 30px auto 0 0;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-icon-4 {
  color: rgb(0, 122, 185) !important;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    width: calc(((100% - 940px) / 2)  + 349px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 349px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 349px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-shape-1 {
    width: 348px;
    left: -50px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 420px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-form-group-1 {
    margin-left: auto;
  }

  .u-section-4 .u-form-group-2 {
    margin-left: auto;
  }

  .u-section-4 .u-form-group-3 {
    margin-left: auto;
  }

  .u-section-4 .u-form-group-4 {
    margin-left: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-icon-1 {
    height: 32px;
  }

  .u-section-4 .u-icon-2 {
    height: 32px;
  }

  .u-section-4 .u-icon-3 {
    height: 32px;
  }

  .u-section-4 .u-icon-4 {
    height: 100%;
  }
}@font-face {
  font-family: 'OmegleRegular-owopB';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/OmegleRegular-owopB.ttf);
}@font-face {
  font-family: 'nasalization-rg';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/nasalization-rg.otf);
}